<h1>Company#index</h1>
<p>Find me in app/views/company/index.html.erb</p>

<%= form_for @search_form, as: 'search', url: :companies, html: {method: :get} do |f| %> 
　<%= f.text_field :ticker %>
 
  <%= f.submit "検索" %>
