<ul id="output"></ul>
<%= javascript_tag do %>
  var data_source = <%= session["data"].to_json.html_safe %>;
  for(var i in data_source){
    $("#output").append("<li>" + data_source[i].ticker + "</li>");
  }
  dataset = [];
  JHR("show/1111/year/2015", [], function(response, xhr){ dataset.push(response) });
<% end %>
