<ul id="output"></ul>
<%= javascript_include_tag "d3statement" %>

<%= javascript_tag do %>
  var data_source = <%= session["data"].to_json.html_safe %>;
  console.log(data_source)
  if (!data_source) { data_source = [] }

  for(var i in data_source){
    $("#output").append("<li>" + data_source[i].ticker + "</li>");
  }

  dataset = []
  for (var i in data_source){
    console.log(data_source[i]);
    JHR(data_source[i].ticker+"/year/"+data_source[i].year, "GET", [], function(response, xhr){ dataset.push(response); console.log(dataset); appendData(); });
  }
<% end %>
